body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 50vh;
    background-color: #007BFF;
    border-radius: 20px;
}
.title {
    background-color: aliceblue;
    text-align: center;
    width: 90%;
    color: black;
    font-size: 20px;
    padding: 0px 15px;
    border-radius: 12px;
}

.login h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; /* Alinea las etiquetas a la izquierda */
}

.login form {
    width: 90%;
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
}

.login label {
    font-weight: bolder;
    display: block;
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 90%;
    padding: 10px;
    
}

.login input[type="submit"] {
    background-color: #007BFF; /* Color del botón */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe todo el ancho */
}

.login button {
    background-color: #007BFF; /* Color del botón */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe todo el ancho */
}

button:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
}